.background{
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.star{
    position: absolute;
    border-radius: 50%;
}

@keyframes star_color {
    0%{
        opacity: 0%;
       
        

    }
    50%{
        opacity: 100%;
        

       
        
    }
    100%{
       
        opacity: 0%;
    }

    
}