
.star{
    position: absolute;
    border-radius: 50%;
    

   
}

@keyframes star_color {
    0%{
        opacity: 0%;
       
        

    }
    50%{
        opacity: 100%;
        

       
        
    }
    100%{
       
        opacity: 0%;
    }

    
}